@mixin text-ellipsis() {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  margin: 24px
}

.loader {
  position: absolute;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}

.question {
  .question-header {
    background: #cfd8dc;
    > div {
      @include text-ellipsis();
      > span {
        display: inline-block;
        font-size: 1.25rem;
      }
    } 
  }
  .choices {
    .option {
      border-top: 1px solid #cfd8dc;
      padding: 8px;
      &:first-child {
        border: 0;
      }
      &:hover {
        background-color: rgba(#cfd8dc,0.1);
      }
      &.selected {
        background-color: rgba(#cfd8dc,0.4);
      }
      .option-content {
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        &.option-content-ellipsis {
          @include text-ellipsis();
        }
      }
      button {
        float: right;
      }
    }
  }
}

.center {
  text-align: center;
}